$form-red-font: #cf2e2e;
$form-subtitle-font: rgba(0, 0, 0, 0.85);
$inquiry-form-fonts: "M PLUS Rounded 1c", sans-serif;
$inquiry-form-fontSize: 16px;
// $inquiry-form-caption-fontWeight: 400px;
$inquiry-form-subtitle-fontWeight: bolder;